<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="报表工具.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <报表工具.Properties.Settings>
            <setting name="width" serializeAs="String">
                <value>1250</value>
            </setting>
            <setting name="maxLength" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="minLength" serializeAs="String">
                <value>2400</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="maxWidth" serializeAs="String">
                <value>1250</value>
            </setting>
            <setting name="minWidth" serializeAs="String">
                <value>1250</value>
            </setting>
        </报表工具.Properties.Settings>
    </userSettings>
</configuration>